<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1>Bienvenido al Panel de Administración</h1>
      <p>Desde aquí puedes gestionar telas, catálogo, pedidos y otros aspectos de la sastrería.</p>
      <button class="cta-button">Ver pedidos recientes</button>
    </div>
    <div class="hero-image">
      <img class="placeholder-image" src="../../../assets/images/dashboardimg.jpg" alt="Dashboard Image">
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <h2 class="section-title">Accesos Rápidos</h2>
    <div class="features-grid">
      <div class="feature-card" [routerLink]="['/admin/fabrics']" style="cursor: pointer;">
        <div class="feature-icon">
          <img src="assets/icons/fabric-icon.png" alt="fabric icon" class="small-icon" />
        </div>
        <h3>Telas</h3>
        <p>Administra el inventario y tipos de telas.</p>
      </div>
      <div class="feature-card" [routerLink]="['/admin/catalog']" style="cursor: pointer;">
        <div class="feature-icon">
          <img src="assets/icons/catalog-icon.png" alt="catalog icon" class="small-icon" />
        </div>
        <h3>Catálogo</h3>
        <p>Edita los modelos disponibles para los clientes.</p>
      </div>
      <div class="feature-card" [routerLink]="['/admin/customers']" style="cursor: pointer;">
        <div class="feature-icon">
          <img src="assets/icons/customers-icon.png" alt="customers icon" class="small-icon" />
        </div>
        <h3>Clientes</h3>
        <p>Visualiza y administra los clientes.</p>
      </div>
      <div class="feature-card" [routerLink]="['/admin/order']" style="cursor: pointer;">
        <div class="feature-icon">
          <img src="assets/icons/orders-icon.png" alt="order icon" class="small-icon" />
        </div>
        <h3>Órdenes</h3>
        <p>Visualiza y administra las ordenes.</p>
      </div>
      <div class="feature-card" [routerLink]="['/admin/finance']" style="cursor: pointer;">
        <div class="feature-icon">
          <img src="assets/icons/finance-icon.png" alt="finance icon" class="small-icon" />
        </div>
        <h3>Finanzas</h3>
        <p>Visualiza y administra los pagos y cuentas.</p>
      </div>
      <div class="feature-card" [routerLink]="['/admin/logs']" style="cursor: pointer;">
        <div class="feature-icon">
          <img src="assets/icons/log-icon.png" alt="log icon" class="small-icon" />
        </div>
        <h3>Bitácora</h3>
        <p>Historial de actividad.</p>
      </div>
      
      <a href="http://localhost:6875/books" target="_blank" class="feature-card"
        style="text-decoration: none; color: inherit;">
        <div class="feature-icon">
          <img src="assets/icons/knowledge-icon.png" alt="log icon" class="small-icon" />
        </div>
        <h3>Gestión del conocimiento</h3>
        <p>Acceder al sistema de gestión del conocimiento.</p>
      </a>
    </div>
  </div>
</section>