<header class="header">
    <div class="container">
      <div class="logo">Sastreria Franco</div>
      <nav class="navigation">
        <ul>
          <li><a href="#hero">Inicio</a></li>
          <li><a href="#features">Características</a></li>
          <li><a href="#about">Sobre Nosotros</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <main>
    <!-- RouterOutlet muestra el componente asociado a la ruta actual -->
    <router-outlet></router-outlet>
  </main>
  
  <footer class="footer">
    <div class="container">
      <p>&copy; 2025 Sastreria Franco. Todos los derechos reservados.</p>
    </div>
  </footer>
