<section class="catalog-hero">
  <div class="catalog-hero-content">
    <h2>Modelos del diseñador</h2>
    <h1>Estilo de ropa única</h1>
    <button id="catalog-button"  (click)="scrollToSection()">Ver colecciones</button>
  </div>
</section>
<section>
  <div class="catalog-collection">
    <h2>Colección 2024/2025</h2>
  </div>
</section>
<section id="colecciones" class="catalog-cards-container">
  <div class="catalog-card" *ngFor="let item of catalogItems">
    <img [src]="item.image" [alt]="item.name" class="catalog-card-image" />
    <div class="catalog-card-content">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </div>
</section>
<section></section>
<section class="catalog-footer">
  <div class="catalog-footer-content">
    <h2>¿Listo para tu próximo proyecto?</h2>
    <p>Contáctanos para más información sobre nuestros servicios y productos.</p>
    <a href="#contact" class="catalog-button">Contáctanos</a>
  </div>

