<section class="catalog-hero">
  <div class="catalog-hero-content">
    <h2>Modelos del diseñador</h2>
    <h1>Estilo de ropa única</h1>
    <button id="catalog-button"  (click)="scrollToSection()">Ver colecciones</button>
  </div>
</section>
<div class="search-bar">
      <input 
        type="text"
        placeholder="Buscar..."
        [formControl]="searchControl">
</div>
<!-- Cambiar esta línea en el template -->
<section id="colecciones" class="catalog-cards-container" [@listAnimation]>
  <div 
    class="catalog-card" 
    *ngFor="let item of filteredItems" 
    (click)="openModal(item)"
  >
    <img [src]="item.image" class="catalog-card-image" />
    <div class="catalog-card-content">
      <p>{{ item.description }}</p>
    </div>
  </div>

  <div *ngIf="filteredItems.length === 0 && searchControl.value" class="no-results">
    <p>No se encontraron resultados para "{{ searchControl.value }}"</p>
  </div>
</section>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="selectedItem" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closeModal()">×</button>
    <img [src]="selectedItem.image" class="modal-image" />
    <h3>Descripción</h3>
    <p>{{ selectedItem.description }}</p>
    <!-- <h4>Tejido / Tela</h4>
    <p>{{ selectedItem.fabric }}</p> -->
  </div>
</div>

<section></section>
<section class="catalog-footer">
  <div class="catalog-footer-content">
    <h2>¿Listo para tu próximo proyecto?</h2>
    <p>Contáctanos para más información sobre nuestros servicios y productos.</p>
    <a href="#contact" class="catalog-button">Contáctanos</a>
  </div>

