<section class="catalog-hero">
  <div class="catalog-hero-content">
    <h2>Modelos del diseñador</h2>
    <h1>Estilo de ropa única</h1>
    <button id="catalog-button"  (click)="scrollToSection()">Ver colecciones</button>
  </div>
</section>
<div class="search-bar">
      <input 
        type="text"
        placeholder="Buscar..."
        [formControl]="searchControl">
</div>
<!-- Cambiar esta línea en el template -->
<section id="colecciones" class="catalog-cards-container">
  <div class="catalog-card" *ngFor="let item of filteredItems">
    <img [src]="item.image"  class="catalog-card-image" />
    <div class="catalog-card-content">
      <p>{{ item.description }}</p>
    </div>
    
  </div>
  
  <!--Mensaje cuando no hay resultados -->
  <div *ngIf="filteredItems.length === 0 && searchControl.value" class="no-results">
    <p>No se encontraron resultados para "{{ searchControl.value }}"</p>
  </div>
</section>
<section></section>
<section class="catalog-footer">
  <div class="catalog-footer-content">
    <h2>¿Listo para tu próximo proyecto?</h2>
    <p>Contáctanos para más información sobre nuestros servicios y productos.</p>
    <a href="#contact" class="catalog-button">Contáctanos</a>
  </div>

